body {
  background-image: url("mount_washington.jpg");
  background-color: #B4E4FB;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 95%;
  background-position: center;
}
